/*  */ 
#base{
    width: 1000px;
    margin: 0 auto;
}

#header{
    background-color: red;
    height: 100px;
    width: 1000px;
}

#tope{
    background-color: yellow;
    color: black;
    float: left;
    width: 250px;
    height: 500px;
    position: relative;
}

#fondo{
    background-color: #e600ff;
    float: left;
    width: 250px;
    height: 500px;
    position: relative;
}

#derecha{
    background-color: #1b1464;
    float: left;
    width: 250px;
    height: 500px;
    position: relative;
}

#izquierda{
    background-color: #3ab54b;
    float: left;
    width: 250px;
    height: 500px;
    position: relative;
}

#bajo{
    background-color: #0a589a;
    float: left;
    height: 300px;
    width: 500px;
}

#bajoderecha{
    background-color: #605b5b;
    float: left;
    height: 300px;
    width: 500px;
}

#abajo{
    background-color: red;
    width: 1000px;
    height: 50px;
    float: left;
}

#fondoderecha{
    position: absolute;
    bottom: 7px;
    right: 10px;
}

#topederecha{
    color: white;
    position: absolute;
    right: 10px;
    top: 7px;
}
#fondoizquierda{
    position: absolute;
    bottom: 7px;
    left: 10px;
}
#arriba{
    position: absolute;
    top: 7px;
    left: 10px;
}
/* Clearfix - floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }